html {
   
    height: 100%;
}

body {
    height:100%;
}
.storage {
    font-size: 0;
    border: 1px solid black;
    position: relative;
    height: 75vh;
}


.dropzone {
    font-size: 12px;
    border: 0.1px solid red;
    display: inline-block;
    
    

    
    
    
}