.storage {

    border: 1px solid black;
    position: relative;
    height: 75vh;
}

.item {
    border: 0.1px solid black;
    margin-right: -4px;
    position: absolute;
    display: inline-block;
}

.dropzone {
    border: 0.1px solid red;
    display: inline-block;
    margin-right: -4px;
    margin-bottom: -4px;
}