{% extends "layout.html" %}

{% block main %}
Index page <br>
Submit new inventory
<form action="/" method="post">
    <input type="text" id="code" name="code" list="codes" autocomplete="off">
        <datalist id="codes">
            <option> code option</option>
        </datalist>
    <input type="text" id="name" name="name" list="names" autocomplete="off">
        <datalist id="names">
            <option> name option</option>
        </datalist>
    <input type="submit">
</form>
{% endblock %}