{% extends "layout.html" %}

{% block main %}
Index page <br>

<div class="storage">
    
    
    {% for item in inventory %}
    <div class="dropzone" style="width:{{ lengthpercentage }}%; height:{{ widthpercentage }}%"><div class="item" id="{{ item.id }}" style="width:{{ lengthpercentage }}%; height:{{ widthpercentage }}%" draggable="true">{{ item.code }}</div></div>
    {% endfor %}
    {% for i in range(0, len) %}
    <div class="dropzone" style="width:{{ lengthpercentage }}%; height:{{ widthpercentage }}%"></div> 
    {% endfor %}
    <div class="dropzone" style="width: 13%; height: auto"><div class="item" style="width: 13%; height: auto" draggable="true">EMPTY</div></div>
</div>

<script>
</script>
Submit new inventory
<form action="/" method="post">
    <input type="text" id="code" name="code" list="codes" autocomplete="off">
        <datalist id="codes">
            {% for item in inventory %}
            <option>{{ item.code }} </option>
            {% endfor %}
        </datalist>
    <input type="text" id="name" name="name" list="names" autocomplete="off">
        <datalist id="names">
            {% for item in inventory %}
            <option>{{ item.name }} </option>
            {% endfor %}
        </datalist>
    <input type="submit">
</form>

{% endblock %}