<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="static/styles.css" rel="stylesheet">
        <script src="static/script.js" type="module"></script> 
        <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"
        integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c="
        crossorigin="anonymous"></script>
        <!--<script src="{{ url_for('static', filename='jquery-ui-draggable-collision.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery-collision.min.js') }}"></script> -->



        <title>Warehouse Manager</title>
    </head>
    <body>
        Welcome to Warehouse Manager!
        <main>
            {% block main %} {% endblock %}
        </main>
    </body>
</html>